@import 'reset.css';
@import 'vars.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  color: var(--white);
  background-color: var(--background-color);
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 550px;
  margin: auto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}