:root {
  --white: #fff;
  --gray: #bcbcbc;
  --black: #080808;
  --dark: #171717;

  --light-blue: #29b6f6;
  --dark-blue: #0288d1;

  --block-color: #191919;
  --border-color: #303030;
  --background-color: #121212;
}